@using Test.Data.Enum
@model Post

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Title: @Model.Title</h1>
<p>Tag: @Model.Tag</p>
<p>Status: @Model.Status</p>
<p>Description: @Model.Description</p>
<p>@Model.Post_Participants.Count() / @Model.NumberOfParticipants</p>
<hr />
<ul>
    @foreach (var user in Model.Post_Participants)
    {
        <li>@user.ApplicationUser.Fullname</li>
    }
</ul>
<hr />
<p>Author: @Model.Author.FullName</p>
<p>Posted at @Model.CreatedTime.ToString("dddd, dd MMMM yyyy")</p>
@if (Model.ExpireTime != null)
{
    <p>Expired at @ViewData["Expired Date"]</p>
}

<section>
    @if (Model.Status == PostStatus.Active)
    {
        @if (User.Identity.IsAuthenticated)
        {
            var userId = (string)ViewData["UserId"];
            @if (userId == Model.AuthorId)
            {
                <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Post" asp-action="Close" asp-route-id="@Model.Id" class="btn btn-primary btn-danger">Close</a>
            }
            else
            {
                var isParticipant = (bool)ViewData["isParticipant"];
                <p>@isParticipant</p>
                @if (!isParticipant)
                {
                    <a asp-controller="Post" asp-action="Join" asp-route-id="@Model.Id" class="btn btn-primary">Join</a>
                }
                else
                {
                    <a asp-controller="Post" asp-action="Unjoin" asp-route-id="@Model.Id" class="btn btn-primary btn-danger">Cancel</a>
                }
            }
        }
        else
        {
            <p>Please Login to Join this Post</p>
        }
    }
    else
    {
        <p>This Post is Closed.</p>
    }
</section>