@using Test.Data.Enum
@model Post
@section AddToHead {
    <link href="@Url.Content("~/css/detail.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/fliptimer.css")" rel="stylesheet" type="text/css" />
}
@section AddNewScript {
    @if (Model.Status == PostStatus.Active)
    {
        <script>
            @* load expire time just once *@
            const expireTime = new Date("@Model.ExpireTime.ToString("o")").getTime(); 
            let docBody = document.body;
            const workerPath = "@Url.Content("~/js/timerWorker.js")";
            docBody.setAttribute("onload", "startTimerWorker(workerPath, expireTime)");
            console.log(expireTime);
        </script>
    }
    <script src="@Url.Content("~/js/detail.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/fliptimer.js")" type="text/javascript"></script>
}

@{
    ViewData["Title"] = "Detail";
}

<div class="detail-page-container">
    <div class="title-container shadow-box">
        <div class="upper-title-section">
            <div>
                <div class="title-post">
                     <h1>@Model.Title</h1>
                </div>
                @if (Model.Tag != null)
                {
                    <div style="display: inline-block">
                         <div id="tag">@Model.Tag</div>
                    </div>
                }
            </div>
            <div class="status-section">
                <b>@Model.Status</b>
                <p id="current-participant">@Model.Post_Participants.Count()/@Model.NumberOfParticipants</p>
            </div>
        </div>
        <hr />
        <div class="title-detail">
            <span>Created by <b id="author-tag">@Model.Author.FullName</b> On <i style="color: gray;">@Model.CreatedTime.ToString()</i></span>
            @if (Model.ExpireTime != null)
            {
                <span>Expired on <i style="color: gray;">@Model.ExpireTime.ToString()</i></span>
            }
        </div>
    </div>

    <!-- All details which are not presented in the title container -->

    <div class="time-related-containter">
        <div class="time-left-msg">
            <span>Time left until the post is expired</span>
        </div>
        <div class="fliptimer-container">
            <div class="fliptimer-segment">
                <div class="fliptimer-subsegment">
                    <div class="flip-card" id="days-more-than">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                    <div class="flip-card" id="days-tens">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                    <div class="flip-card" id="days-units">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                </div>
                <span>Days</span>
            </div>
            <div class="fliptimer-segment">
                <div class="fliptimer-subsegment">
                    <div class="flip-card" id="hours-tens">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                    <div class="flip-card" id="hours-units">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                </div>
                <span>Hours</span>
            </div>
            <div class="fliptimer-segment">
                <div class="fliptimer-subsegment">
                    <div class="flip-card" id="minutes-tens">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                    <div class="flip-card" id="minutes-units">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                </div>
                <span>Minutes</span>
            </div>
            <div class="fliptimer-segment">
                <div class="fliptimer-subsegment">
                    <div class="flip-card" id="seconds-tens">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                    <div class="flip-card" id="seconds-units">
                        <div class="top">-</div>
                        <div class="bottom">-</div>
                    </div>
                </div>
                <span>Seconds</span>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="location-container shadow-box">
            <img alt="map-pin" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1hcC1waW4iPjxwYXRoIGQ9Ik0yMCAxMGMwIDYtOCAxMi04IDEycy04LTYtOC0xMmE4IDggMCAwIDEgMTYgMFoiLz48Y2lyY2xlIGN4PSIxMiIgY3k9IjEwIiByPSIzIi8+PC9zdmc+">
            @if (Model.Location != "")
            {
                <span><b>Location :</b> <i>No location</i></span>
            }
            else
            {
                <span><b>Location :</b> @Model.Location</span>
            }
        </div>
    </div>    
    <div class="content-container">
        <div class="description-container shadow-box">
            <h2>Description</h2>
            <p>@Model.Description</p>
        </div>
        <div class="participant-container shadow-box">
            <h2>Participants</h2>
            @if (Model.Post_Participants.Count == 0)
            {
                <p class="no-participant-msg">There is currently no participant</p>
            }
            else
            {
                <div class="participant-list">
                    @{
                        var sortedList = Model.Post_Participants.OrderBy(q => q.Id).ToList();
                        var parCount = 1;
                        foreach (var user in sortedList)
                        {
                            if (parCount <= Model.NumberOfParticipants)
                            {
                                <p class="participant">@user.ApplicationUser.Fullname</p>
                            }
                            else
                            {
                                <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                    <p class="participant-late">@user.ApplicationUser.Fullname</p>
                                    <span>This person will be kicked when the post is closed.</span>
                                </div>
                            }
                            parCount++;
                        }
                    }
                </div>
            }
        </div>
        <div class="interation-options">
            <table id="buttons-section">
                <tr>
                    <td colspan="2">
                        @if (Model.Status == PostStatus.Active)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                var userId = (string)ViewData["UserId"];
                                @if (userId != Model.AuthorId)
                                {
                                    var isParticipant = (bool)ViewData["isParticipant"];
                                    @if (!isParticipant)
                                    { 
                                        <form><button asp-controller="Post" asp-action="Join" asp-route-id="@Model.Id" type="submit" class="styled-button active-button join-button"><span>Join</span></button></form>
                                    }
                                    else
                                    {
                                        <form><button asp-controller="Post" asp-action="Unjoin" asp-route-id="@Model.Id" type="submit" class="styled-button active-button unjoin-button"><span>Unjoin</span></button></form>
                                    }
                                }
                                else
                                {
                                    <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                        <div class="styled-button obsolete-button">Join</div>
                                        <span>Author cannot join his/her own activity</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                    <div class="styled-button obsolete-button">Join</div>
                                    <span>Login to proceed</span>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                <div class="styled-button obsolete-button">Join</div>
                                <span>This post is closed</span>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        @if (Model.Status == PostStatus.Active)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                var userId = (string)ViewData["UserId"];
                                @if (userId == Model.AuthorId)
                                {
                                    <form><button asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" type="submit" class="styled-button active-button edit-button"><span>Edit</span></button></form>
                                }
                                else
                                {
                                    <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                        <div class="styled-button obsolete-button">Edit</div>
                                        <span>Only the author can edit the activity</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                    <div class="styled-button obsolete-button">Edit</div>
                                    <span>Login to proceed</span>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                <div class="styled-button obsolete-button">Edit</div>
                                <span>This post is closed</span>
                            </div>
                        }
                    </td>
                    <td style="width: 50%">
                        @if (Model.Status == PostStatus.Active)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                var userId = (string)ViewData["UserId"];
                                @if (userId == Model.AuthorId)
                                {
                                    <form><button asp-controller="Post" asp-action="Close" asp-route-id="@Model.Id" type="submit" class="styled-button active-button close-button"><span>Close</span></button></form>
                                }
                                else
                                {
                                    <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                        <div class="styled-button obsolete-button">Close</div>
                                        <span>Only the author can close the activity</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                    <div class="styled-button obsolete-button">Close</div>
                                    <span>Login to proceed</span>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="obsolete-desc" onmousemove="obsoleteHover(this, event);">
                                <div class="styled-button obsolete-button">Close</div>
                                <span>This post is closed</span>
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="back-button-segment">
        <a href="/"><button class="styled-button active-button"> Back to Main Menu</button></a>
    </div>
</div>