@using Test.Data.Enum
@model string[]
@section AddToHead {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "List of Posts";
}

<div class="index-container">
    <div class="welcome-segment">
        <span>Welcome to</span>
        <b>JOIN HUB!</b>
    </div>
    <div class="content-container">
        <div class="tag-container">
            <h3>Tags</h3>
            <ul>
                @foreach (Tag tag in Enum.GetValues(typeof(Tag)))
                {
                    <li class="tag">
                        <a id="@((int)tag)" onclick="select(this)">@tag</a>
                    </li>
                }
            </ul>
        </div>

        <link href="@Url.Content("~/css/postlist.css")" rel="stylesheet"/>
        <script src="@Url.Content("~/js/lucide.js")"></script>
        <script src="@Url.Content("~/js/model.js")"></script>
        <script>

            const row = new Row(
                document.querySelector('.content-container'), null
            );

            row.manifest = '@(string.Join(" ", Model))'.split(' ');
            row.generate_cards();

            async function select(ele) {
                await row.get(`/api/filter/${ele.id}`);
                row.generate_cards();
            }
        </script>
    </div>
</div>