@using Test.Data.Enum
@model IEnumerable<Post>

@{
    ViewData["Title"] = "List of Posts";
}
<div class="row position-fixed top-50 start-0">
    <div class="col-md-1">
        <ul>
            @foreach (Tag tag in Enum.GetValues(typeof(Tag)))
            {
                <li>
                    <a asp-controller="Post" asp-action="Filter" asp-route-tag="@tag">@tag</a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table w-auto">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Author.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Tag)</th>
                    <th>Participants</th>
                    <th>@Html.DisplayNameFor(model => model.NumberOfParticipants)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedTime)</th>
                    <th>@Html.DisplayNameFor(model => model.ExpireTime)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <a asp-controller="Post" asp-action="Detail" asp-route-id="@item.Id">
                        <tr>
                            <td class="align-middle">
                                @item.Title
                            </td>
                            <td class="align-middle">
                                @item.Author.FullName
                            </td>
                            <td class="align-middle">
                                @item.Description
                            </td>
                            <td id="post@item.Id" class="align-middle">
                                @item.Status
                            </td>
                            <td class="align-middle">
                                @item.Tag
                            </td>
                            <td class="align-middle">
                                @item.Post_Participants.Count()
                            </td>
                            <td class="align-middle">
                                @item.NumberOfParticipants
                            </td>
                            <td class="align-middle">
                                @item.CreatedTime
                            </td>
                            <td class="align-middle">
                                @item.ExpireTime
                            </td>
                            <td class="align-middle">
                                <a href="~/post/detail/@item.Id">Click</a>
                            </td>
                        </tr>
                    </a>
                }
            </tbody>

        </table>
        <p>User ID: @ViewData["UserId"]</p>
    </div>
</div>