@using Test.Data.Enum
@using System.Web
@model string[]

@section AddToHead {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/my.css")" rel="stylesheet" />
    <script src="@Url.Content("~/js/lucide.js")"></script>
}
@{
    ViewData["Title"] = "Main Menu";
    var endpoint = Url.Action("index", "api");
}
@section AddNewScript {
    <script src="@Url.Content("~/js/lucide.js")"></script>
    <script src="@Url.Content("~/js/model.js")"></script>
    <script>

        const row = new Row(
            document.querySelector('.post-container'), null
        );

        row.manifest = '@(string.Join(" ", Model))'.split(' ');
            
        row.generate_cards()

        async function gen(url) {
            await row.get(url);
            row.generate_cards();
        };

    </script>
}
<div class="index-container">
    <div class="welcome-segment">
        <span>Welcome to</span>
        <b>JOIN HUB!</b>
    </div>
    <div class="content-container">
        <div class="tag-container">
            <h3>Tags</h3>
            <ul>
                @foreach (Tag tag in Enum.GetValues(typeof(Tag)))
                {
                    <li class="tag-selector">
                        <a id="@((int)tag)" onclick="gen('/api/filter/@((int)tag)')" >@tag</a>
                    </li>
                }
            </ul>
        </div>

        <link href="@Url.Content("~/css/postlist.css")" rel="stylesheet"/>

        <div class="post-container">
        </div>
    </div>
</div>