@model IEnumerable<Notification>

@{
    ViewData["Title"] = "My Notifications";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table w-auto">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>@Html.DisplayNameFor(model => model.Link)</th>
                    <th>@Html.DisplayNameFor(model => model.UserId)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="align-middle">
                            <a asp-controller="Notification" asp-action="Read" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Link)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>User ID: @ViewData["UserId"]</p>
    </div>
</div>

